<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="zf2-module-composer-unit-tests">
            <directory>./Unit</directory>
        </testsuite>
        <testsuite name="zf2-module-composer-integration-tests">
            <directory>./Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>